.outline-and-reference {
  height: 64px;
}

#writer-left-sider {
  background-color: var(--gm-color-surface);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--gm-color-border);
}

#writer-left-sider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.writer-menu {
  height: 100%;
}