# dependencies
**/node_modules
**/package-lock.json

# testing
**/coverage

# build
**/dist

# etc
**/.DS_Store
**/env.local
**/idea

# compiled
extension/utils/reload/*.js
extension/utils/reload/injections/*.js
extension/public/manifest.json

# temp
**/tmp
**/temp
