body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  font-family: var(--gm-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gm-color-bg);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
