.left-sider-title {
  height: 64px;
}

#architect-left-sider {
  background-color: #fff;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ccc;
}

.ant-form-item {
  margin-bottom: 8px; // 调整间距
}